<divclass="row" ng-app="AngulaRails" ng-controller="HelloWorldController"> 
<div class="col-md-6">
  <h1>Hello AngularJS</h1>
  <p>Type in the input box and watch as AngularJS updates the property through \ themagicofbinding.</p>
  <input type="text" class="form-control" ng-model="myText" >
  {{ myText }}
</div>
</div>