<div ng-app="AngulaRails" ng-controller="ModelsNeedDotsController"> 
<div class="row">
  <div class="col-md-12">
    <h1>Oh noes!</h1>
    Message is "{{ someModel.message }}"
    <input type="text" class="form-control" ng-model="someModel.message" /> 
    <ul class="list-unstyled">
      <li ng-repeat="s in stuff" style="margin-top: 10px">
        Message is "{{ someModel.message }}"
        <input type="text" class="form-control" ng-model="someModel.message" />
      </li>
    </ul>
  </div>
</div>
</div>